/* © TOKM Solutions (PTY) LTD, 2022. */

/* Initialising */
:root {
    --header-background-colour: #f8f3e9;
    --link-active-text-colour: red;
}

:root {
    --header-height: 50px;
    --logo-width: 100px;
}

:root {
    --header-menu-alignment: center;
}
/* Initialising */

header {
    background-color: var(--header-background-colour);
    box-shadow: 0px 2px 10px #00000025;
}

header {
    width: 100vw;
    height: var(--header-height);
}

header {
    display: grid;
    position: fixed;
    grid-template-areas: "logo nav cart";
    grid-template-columns: repeat(3, 1fr);
    justify-items: var(--header-menu-alignment);
    align-items: center;
    z-index: 1;
    column-gap: 50px;
}

.logo {
    grid-area: logo;
}

.logo > img {
    width: var(--logo-width);
}

.icons {
    width: var(--logo-width);
}

header > nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    width: 100%;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header a:hover {
    color: var(--link-active-text-colour);
}

.active {
    color: var(--link-active-text-colour);
}

.cart--icon {
    grid-area: cart;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart--icon>img {
    height: 30%;
}

.cart--size-container {
    width: 15px;
    height: 15px;
    background: rgb(238, 91, 91);
    position: absolute;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 0;
}

.cart--size-container>span {
    color: white;
}

header details {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        grid-template-areas: "nav logo cart";
    }

    nav.reg:not(.mobile) {
        display: none;
    }

    header details {
        display: block;
        grid-area: nav;
    }

    summary img {
        height: 20px;
    }

    summary {
        list-style: none;
    }

    nav.reg.mobile>ul {
        width: 100%;
        height: calc(100vh - 50px);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 50px;
        left: 0;
        background-color: var(--header-background-colour);
        font-size: 2rem;
        row-gap: 20px;
    }
}